<div class="bio-info">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <div class="bio-image">
            <%= gravatar_for @user, size: 150%>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="bio-content">
        <h4><%= @user.username  ? @user.username.capitalize : "Please add name =>"%>
          <% if @user == current_user %>
            <%= link_to "Edit Profile ", edit_user_registration_path, class: "btn btn-xs btn-dark"%>
            <button type="button" class="btn btn-sm" data-toggle="modal" data-target="#userProfileModal">
              <i class="fas fa-cog"></i>
            </button>
          <% end %>
        </h4>
        <h5><%= @user.email %></h5>
        <h6><%= @user.website if @user.website %></h6>
        <p><%= @user.bio if @user.bio %></p>
      </div>
    </div>
  </div>
</div>
<%#  Modal Content Here  %>
<div class="modal fade" id="userProfileModal" tabindex="-1" role="dialog" aria-labelledby="userProfileModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="userProfileModalLabel">Settings</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%# <div class="modal-body"> %>
      <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action">Change Password</button>
        <%= link_to " Log out", destroy_user_session_path, method: :delete, class: "list-group-item list-group-item-action"%>
        <button type="button" class="list-group-item list-group-item-action" data-dismiss="modal">Cancel</button>
      </div>
      <%# </div> %>
    </div>
  </div>
</div>
<%#  Modal Content Here  %>
<%#  Profile tab goes here  %>
<div class="profile-tab">
  <% if @user == current_user %>
    <nav>
      <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-posts-tab" data-toggle="tab" href="#nav-posts" role="tab" aria-controls="nav-posts" aria-selected="true">Posts</a>
        <a class="nav-item nav-link ml-3" id="nav-saved-tab" data-toggle="tab" href="#nav-saved" role="tab" aria-controls="nav-saved" aria-selected="false">Saved</a>
      </div>
    </nav>
  <% end %>
  <div class="tab-content pb-3" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-posts" role="tabpanel" aria-labelledby="nav-posts-tab">
      <div class="row">
        <%= render "post", {posts: @posts}%>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-saved" role="tabpanel" aria-labelledby="nav-saved-tab">
      <div class="row">
        <%= render "post", {posts: @saved} if @user == current_user %>
      </div>
    </div>
  </div>
</div>
<%#  Profile tab goes here  %>
