<% if @posts.size > 0 %>
  <% @posts.each do |post|%>
    <div class="d-flex flex-column align-items-center mt-3">
      <div class="col-md-12 col-sm-11 post-card">
        <div class="card">
          <div class="card-header d-flex align-items-center">
            <%= link_to user_path(post.user), class: "no-text-decoration" do %>
              <%= gravatar_for post.user, class: "rounded-circle" %>
            <% end %>
            <%= link_to user_path(post.user), class: "normal-color no-text-decoration ml-2 font-weight-bold" do %>
              <%= post.user.username%>
            <% end %>
            <% if post.is_belongs_to? current_user %>
              <%= link_to post_path(post), method: :delete, class: "ml-auto delete-post-icon mx-0 my-auto" do %>
                <i class="far fa-trash-alt" aria-hidden="true"></i>
              <% end %>
            <% end %>
          </div>
          <%############= Rendering Caraousel Images in a partial ############################%>
          <%= render "photos", {post: post}%>
          <%############= Rendering Caraousel Images in a partial ############################%>
          <div class="card-body">
            <div class="row actions">
              <%############= Rendering Like Icons in a partial ############################%>
              <div id="like-icon-post-<%= post.id.to_s %>">
                <%= render "likes/like_icon", {is_liked: post.is_liked(current_user), post: post} %>
              </div>
              <%############= Rendering Like Icons in a partial ############################%>
              <a href="#" class="normal-color no-text-decoration ml-2 comment"><i class="far fa-comment fa_custom fa-1.5x"></i></a>
              <a href="#" class="normal-color no-text-decoration ml-auto bookmark"><i class="far fa-bookmark fa-1.5x"></i></a>
            </div>
            <%############= Rendering Like text  in a partial ############################%>
            <div class="font-weight-bold" id="like-text-post-<%= post.id.to_s %>">
              <%= render "likes/like_text" , {likes: post.likes}%>
            </div>
            <%############= Rendering Like text  in a partial ############################%>
            
            <%############= Rendering Comments List in a partial ############################%>
            <div id="comments-post-<%= post.id.to_s %>">
              <%= render "comments/comment_list" , {post: post} %>
            </div>
            <%############= Rendering Comments List in a partial ############################%>
            <p class="card-subtitle mb-2 text-muted light-color post-time">
              <%= link_to time_ago_in_words(post.created_at).upcase + " AGO", post_path(post), class: "card-subtitle mb-2 text-muted light-color post-time no-text-decoration"  %>
            </p>
            <hr>
            <%############= Rendering Comment form  in a partial ############################%>
            <div class="row actions" id="comment-form-post<%= post.id.to_s %>">
              <%= render 'comments/comment_form', {post: post} %>
            </div>
            <%############= Rendering Comment form  in a partial ############################%>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
  <p>You don't have any contents and photos</p>
<% end %>
