<%= form_with(model: @post, local: true, html: {multipart: true}) do |f| %>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_field :content, placeholder: "Add your content", autofocus: true %>
  </div>
  <div class="form-group">
    <%= file_field_tag "images[]", multiple: true %>
  </div>
  <%= f.submit class: "btn btn-primary btn-lg" %>
<% end %>


<% @posts.each do |post| %>
    <%= post.content %>
    <% post.photos.each do |photo| %>
        <%= image_tag photo.image.url(:standard)%>
    <% end %>
<% end %>