<div class="d-flex flex-column align-items-center mt-3">
  <div class="col-md-12 col-sm-11 post-card">
    <div class="card">
      <div class="card-header">
        Create Post
      </div>
      <div class="card-body">
        <%= form_with(model: @post, local: true, html: {multipart: true, class: "dropzone upload-images p-0 border-0"}) do |f| %>
          <div class="form-group row mt-2">
            <div class="col-auto pr-0">
              <%= gravatar_for current_user, class: "rounded-circle" %>
            </div>
            <div class="col pl-0">
              <%= f.text_field :content, placeholder: "Say Something about this...", class: "form-control border-0 ml-2" %>
            </div>
          </div>
          <div class="fallback">
            <%= file_field_tag "images", multiple: true %>
          </div>
          <div class="dz-message m-0"></div>
          <div class="dropzone-previews mb-3">
            <div class="upload-photos-icon">
              <i class="fa fa-plus fa-2x" aria-hidden="true" style="color:#dddfe2"></i>
            </div>
          </div>
          <%= f.submit "Post" ,class: "btn btn-primary btn-md" %>
        <% end %>
      </div>
    </div>
    <div id="posts">
      <%############= Rendering all Posts in a partial ############################%>
      <%= render 'post_list'%>
      <%############= Rendering all Posts in a partial ############################%>
    </div>
  </div>

  <br>
  <%= will_paginate @posts %>
</div>
