<div class="d-flex flex-column align-items-center mt-3">
  <div class="row post-box col-xl-11 col-lg-11 col-xs-12">
    <div class="col-lg-8 col-md-7 px-0 d-flex post-show-img">
      <div class="align-self-center">
        <%############= Rendering Caraousel Images in a partial ############################%>
        <%= render "photos", {post: @post}%>
        <%############= Rendering Caraousel Images in a partial ############################%>
      </div>
    </div>
    <div class="col-lg-4 col-md-5 mt-sm-4 mt-md-0">
      <div class="row px-3 d-flex align-items-center">
        <%= link_to user_path(@post.user), class: "no-text-decoration" do %>
          <%= gravatar_for @post.user, class: "rounded-circle" %>
        <% end %>
        <%= link_to user_path(@post.user), class: "normal-color no-text-decoration ml-2 my-2 font-weight-bold" do %>
          <%= @post.user.username%>
        <% end %>
        <% if @post.is_belongs_to? current_user %>
          <%= link_to post_path(@post), method: :delete, class: "ml-auto delete-post-icon mx-0 my-auto" do %>
            <i class="far fa-trash-alt" aria-hidden="true"></i>
          <% end %>
        <% end %>
      </div>
      <hr class="mb-0">
      <div class="comment-list py-2">
        <% if @post.content.present?%>
          <div>
            <span class="font-weight-bold"><%= @post.user.username %></span>
            <span class="font-weight-light"><%= @post.content %></span>
          </div>
        <% end %>
        <% 100.times do %>
          <div>
            <span class="font-weight-bold">Rajni</span>
            <span class="font-weight-light">Coooool</span>
          </div>
        <% end %>
      </div>
      <hr class="mt-0">
      <div class="row actions">
        <%############= Rendering Like Icons in a partial ############################%>
        <div id="like-icon-post-<%= @post.id.to_s %>">
          <%= render "likes/like_icon", {is_liked: @is_liked, post: @post} %>
        </div>
        <%############= Rendering Like Icons in a partial ############################%>
        <a href="#" class="normal-color no-text-decoration ml-2"><i class="far fa-comment fa-1.5x"></i></a>
        <a href="#" class="normal-color no-text-decoration ml-auto"><i class="far fa-bookmark fa-1.5x"></i></a>
      </div>
      <%############= Rendering Like text  in a partial ############################%>
      <div class="font-weight-bold" id="like-text-post-<%= @post.id.to_s %>">
        <%= render "likes/like_text" , {likes: @likes}%>
      </div>
      <%############= Rendering Like text  in a partial ############################%>
      <div class="font-weight-bold"></div>
      <div>
        <span class="font-weight-bold"><%= @post.user.username %></span>
        <span class="font-weight-light"><%= @post.content %></span>
      </div>
      <p class="card-subtitle mb-2 text-muted light-color post-time">
        <%= time_ago_in_words(@post.created_at).upcase %> AGO
      </p>
      <hr>
      <div class="row actions">
        <form action="#" class="w-100">
          <div>
            <textarea class="form-control comment-input border-0" placeholder="Add a comment..." rows="1"></textarea>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
