<!DOCTYPE html>
<html>
  <head>
    <title>RailsInstagram</title>
    <meta id="viewport" name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link 
    rel="stylesheet"
    href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
    integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  </head>

  <body>


    <%= render 'shared/navigation' %>  

    <main class="container" style="min-height: 500px;">
      <%= yield %>
    </main>  

    <% if flash.any?%>
      <script>
        <% flash.each do |key, value| %>
          <% type = key.to_s.gsub("alert", "error").gsub("notice", "success")%>
          toastr.<%= type %>('<%= value %>')
        <% end %>
      </script>
    <% end %>
  </body>
</html>
